<ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Perfil", current_user %></li>
    <li><%= link_to "Comprar Ticket", buy_path %></li>
    <li><%= link_to "Cardápio Semanal", "https://goo.gl/gwQhbs" %></li>
</ul>

<h1>Histórico de Compras</h1>